{**
 * Layout for tab of Stopwatches debugger
 *
 * @author Pavel Železný <pavel.zelezny@socialbakers.com>
 *
 * @param string $basePath Path to directory where compnent is situated
 *}
<span title="Panel to show information of debugger stopwatches">
	<img n:src="{$basePath}/templates/stopwatch.png" />
	<strong>Timers</strong> ({$sum} ms)
</span>