/* 
    Document   : some file with very veeeeeery long name ablebalablbalabl blablablabla blabla
    Created on : 6.3.2013, 15:17:47
    Author     : dragon
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

