{var $robots = noindex}

{block #content}

{*<h1 n:block=title>Sign in</h1>*}

{block subtitle}Sign In{/block}
{block subtitleClass}{/block}

{control signInForm}

{* or use {include '../components/form.latte', form => $presenter[signInForm]} *}
