{var $robots = noindex}
{block #content}

<h2 n:block=title>Access Denied</h2>

<p>You do not have permission to view this page. Please try to log in as another
user, or contact the web site administrator if you believe you should be able 
to view this page.</p>

<p><small>error 401</small></p>
