{** 
 * @param string $filename
 * @param LightFM\File $file
 *}

{block content}
<div id="text-view">
    <h2>{$filename}</h2>
	{var $content = $file->getContent()}

	<pre class="content">{!$content}</pre>
    
    {*<pre class="content">{foreach $content as $line=>$text}<code><i></i><span>{$text}</span></code>{/foreach}</pre>*}
</div>
{/block}


{block scripts}
{include #parent}
{/block}


{block head}
<style>
</style>
{/block}
