#list-view ol,
#list-view ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#list-view ol li,
#list-view ul li {
  display: inline-block;
  list-style: none;
}
#list-view ol li a,
#list-view ul li a {
  display: inline-block;
  padding: 0pt 1em;
  margin: 0;
  margin-left: -1px;
  border: 1px solid #c4c4c4;
  background-color: #fcfcfc;
  color: #666;
  text-decoration: none;
}
#list-view ol li a:hover,
#list-view ul li a:hover {
  background-color: #eee;
  color: #000;
}
#list-view ol li a.inactive,
#list-view ul li a.inactive {
  -moz-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5);
  background-color: #fcfcfc;
  color: #666;
  cursor: default;
}
#list-view ol li:first-child a,
#list-view ul li:first-child a {
  border-width: 1px;
}
#list-view #navigation {
  display: inline-block;
  line-height: 130%;
  font-size: 110%;
  margin-bottom: 0.5em;
}
@media only screen and (max-width: 40em) {
  #list-view #navigation {
    line-height: 150%;
  }
}
#list-view #navigation ol li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#list-view #navigation ol li:first-child a {
  -webkit-border-top-left-radius: 0.3em;
  -moz-border-radius-topleft: 0.3em;
  border-top-left-radius: 0.3em;
  -webkit-border-bottom-left-radius: 0.3em;
  -moz-border-radius-bottomleft: 0.3em;
  border-bottom-left-radius: 0.3em;
}
#list-view #navigation ol li:last-child a {
  -webkit-border-top-right-radius: 0.3em;
  -moz-border-radius-topright: 0.3em;
  border-top-right-radius: 0.3em;
  -webkit-border-bottom-right-radius: 0.3em;
  -moz-border-radius-bottomright: 0.3em;
  border-bottom-right-radius: 0.3em;
}
#list-view #views {
  position: relative;
  z-index: 10;
  display: inline-block;
  float: right;
  font-size: 110%;
  line-height: 150%;
  margin-top: 0.5em;
  margin-right: 0;
}
#list-view #views .tab {
  background-size: 1.4em;
  background-repeat: no-repeat;
  background-position: 5px 50%;
  padding-left: 2em;
}
#list-view #views .list {
  background-image: url('../images/list-icon.svg');
}
#list-view #views .gallery {
  background-image: url('../images/gallery.svg');
}
#list-view #views ul li a {
  display: inline-block;
  border-color: #aaa;
  border-width: 1px 1px 0px 0px;
  border-bottom: 0;
  margin: 0;
}
#list-view #views ul li a.active {
  background-color: #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  color: #333;
  cursor: default;
}
#list-view #views ul li:first-child a {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 0.3em;
  -moz-border-radius-topleft: 0.3em;
  border-top-left-radius: 0.3em;
}
#list-view #views ul li:last-child a {
  -webkit-border-top-right-radius: 0.3em;
  -moz-border-radius-topright: 0.3em;
  border-top-right-radius: 0.3em;
}
#list-view #data {
  position: relative;
  top: -1px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #e1e1e1;
  border: 1px solid #aaa;
}
#list-view #data section {
  position: relative;
  border-bottom: 1px solid #dddddd;
  background: #eeeeee;
}
#list-view #data section input {
  margin: 0;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
}
@media only screen and (min-width: 40em) {
  #list-view #data section input {
    top: 0.35em;
  }
}
#list-view #data section table {
  width: 100%;
}
#list-view #data section table .checkbox {
  width: 4.0em;
}
#list-view #data section table .name {
  padding-left: 0.3em;
}
#list-view #data section table .name span {
  display: block;
  width: 100pt;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2.5em;
  height: 2.5em;
}
@media only screen and (min-width: 25em) {
  #list-view #data section table .name span {
    width: 14em;
  }
}
@media only screen and (min-width: 29em) {
  #list-view #data section table .name span {
    width: 14em;
  }
}
@media only screen and (min-width: 33em) {
  #list-view #data section table .name span {
    width: 18em;
  }
}
@media only screen and (min-width: 37em) {
  #list-view #data section table .name span {
    width: 23em;
  }
}
@media only screen and (min-width: 40em) {
  #list-view #data section table .name span {
    width: 15em;
  }
}
@media only screen and (min-width: 48em) {
  #list-view #data section table .name span {
    width: 20em;
  }
}
@media only screen and (min-width: 56em) {
  #list-view #data section table .name span {
    width: 28em;
  }
}
@media only screen and (min-width: 40em) {
  #list-view #data section table .name span {
    line-height: 2.2em;
    height: 2.2em;
  }
}
#list-view #data section table .suffix {
  width: 4.4em;
}
#list-view #data section table .size {
  white-space: nowrap;
  width: 4.6em;
  display: none;
}
@media only screen and (min-width: 29em) {
  #list-view #data section table .size {
    display: table-cell;
  }
}
#list-view #data section table .date {
  white-space: nowrap;
  width: 11em;
  display: none;
}
@media only screen and (min-width: 40em) {
  #list-view #data section table .date {
    display: table-cell;
  }
}
#list-view #data section a {
  color: #333;
  text-decoration: none;
}
#list-view #data section a:hover {
  text-decoration: underline;
}
#list-view #data section.header {
  background: -moz-linear-gradient(top,#e1e1e1 0%,#eeeeee 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e1e1e1),color-stop(100%,#eeeeee));
  background: -webkit-linear-gradient(top,#e1e1e1 0%,#eeeeee 100%);
  background: -o-linear-gradient(top,#e1e1e1 0%,#eeeeee 100%);
  background: -ms-linear-gradient(top,#e1e1e1 0%,#eeeeee 100%);
  background: linear-gradient(to bottom,#e1e1e1 0%,#eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1',endColorstr='#eeeeee',GradientType=0);
}
#list-view #data section.header a {
  text-decoration: underline;
  color: #333;
  padding-right: 1.2em;
}
#list-view #data section.header a:hover {
  color: #666666;
}
#list-view #data section.header .asc a {
  background: url('../images/33/order-asc.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/order-asc.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/order-asc.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/order-asc.png',sizingMethod='scale');
}
#list-view #data section.header .desc a {
  background: url('../images/33/order-desc.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/order-desc.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/order-desc.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/order-desc.png',sizingMethod='scale');
}
#list-view #data section.header .sort-active {
  font-weight: bold;
}
#list-view #data section.folder .checkbox {
  background: url('../images/33/folder.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/folder.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/folder.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/folder.png',sizingMethod='scale');
}
#list-view #data section.folder:hover,
#list-view #data section.folder:active {
  background-color: #e9e9e9;
}
#list-view #data section.folder a {
  color: #808080;
}
#list-view #data section.folder-up .checkbox {
  background: url('../images/33/up.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/up.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/up.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/up.png',sizingMethod='scale');
}
#list-view #data section.folder-up:hover,
#list-view #data section.folder-up:active {
  background-color: #e9e9e9;
}
#list-view #data section.folder-up a {
  color: #808080;
}
#list-view #data section.file:hover,
#list-view #data section.file:active {
  background-color: #e9e9e9;
}
#list-view #data section.file .checkbox {
  background: url('../images/33/file.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/file.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file.png',sizingMethod='scale');
}
#list-view #data section.file .checkbox.file-archive {
  background: url('../images/33/file-archive.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/file-archive.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-archive.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-archive.png',sizingMethod='scale');
}
#list-view #data section.file .checkbox.file-text {
  background: url('../images/33/file-text.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/file-text.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text.png',sizingMethod='scale');
}
#list-view #data section.file .checkbox.file-text.css {
  background: url('../images/33/file-text-css.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/file-text-css.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-css.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-css.png',sizingMethod='scale');
}
#list-view #data section.file .checkbox.file-text.js {
  background: url('../images/33/file-text-js.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/file-text-js.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-js.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-js.png',sizingMethod='scale');
}
#list-view #data section.file .checkbox.file-text.ini {
  background: url('../images/33/file-text-ini.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/file-text-ini.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-ini.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-ini.png',sizingMethod='scale');
}
#list-view #data section.file .checkbox.file-text.xml {
  background: url('../images/33/file-text-xml.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/file-text-xml.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-xml.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-xml.png',sizingMethod='scale');
}
#list-view #data section.file .checkbox.file-text.php {
  background: url('../images/33/file-text-php.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/file-text-php.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-php.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-php.png',sizingMethod='scale');
}
#list-view #data section.file .checkbox.file-text.html {
  background: url('../images/33/file-text-html.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/file-text-html.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-html.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-html.png',sizingMethod='scale');
}
#list-view #data section.file .checkbox.file-pdf {
  background: url('../images/33/file-pdf.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/file-pdf.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-pdf.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-pdf.png',sizingMethod='scale');
}
#list-view #data section.file .checkbox.file-doc {
  background: url('../images/33/file-doc.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/file-doc.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-doc.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-doc.png',sizingMethod='scale');
}
#list-view #data section.file .checkbox.file-image {
  background: url('../images/33/file-image.png') no-repeat right center;
  background: rgba(0,0,0,0) url('../images/file-image.svg') no-repeat right center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-image.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-image.png',sizingMethod='scale');
}
#list-view #data.no-checkbox .checkbox {
  width: 2.6em;
}
