@screen-tiny: 25em;
@screen-small: 40em;
@screen-middle: 85em;
@screen-big: 100em;

@screen-tiny-1: @screen-tiny;
@screen-tiny-2: @screen-tiny-1 + 4;
@screen-tiny-3: @screen-tiny-2 + 4;
@screen-tiny-4: @screen-tiny-3 + 4;
@screen-tiny-5: @screen-tiny-4 + 4;

@screen-small-1: @screen-small;
@screen-small-2: @screen-small-1 + 8;
@screen-small-3: @screen-small-2 + 8;
@screen-small-4: @screen-small-3 + 8;
@screen-small-5: @screen-small-4 + 8;


@color-text: #333;
@font-size: 90%;
@general-fonts: 'Dejavu sans',arial, 'Liberation Sans', Freesans, sans-serif;

@color-dark: #aaa;
@color-light: #f7f7f7;
@color-medium: #e1e1e1;
@color-outerBorder: #aaa;
@color-innerBorder: #aaa;


// colors of buttons and so
@nav-bg: #fcfcfc;
@nav-bg-hover: #eee;
@nav-text: #666;
@nav-text-hover: #000;
@nav-border: @color-outerBorder;
@nav-border-hover: @color-outerBorder;

@nav-inactive-opacity: 0.5;


@page-width: 700pt;
@page-width-plus: @page-width + 0.5em;

@box-margin: 0.4em;
//@content-

@sidebar-width: 8em;
@sidebar-control-width:1.7em;
@sidebar-content-width: @sidebar-width - @sidebar-control-width;


.rounded-corners-top-left (@radius: 0.3em) {
	-webkit-border-top-left-radius: @radius;
	-moz-border-radius-topleft: @radius;
	border-top-left-radius: @radius;
}

.rounded-corners-top-right (@radius: 0.3em) {
	-webkit-border-top-right-radius: @radius;
	-moz-border-radius-topright: @radius;
	border-top-right-radius: @radius;
}
.rounded-corners-bottom-left (@radius: 0.3em) {
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-radius-bottomleft: @radius;
	border-bottom-left-radius: @radius;
}

.rounded-corners-bottom-right (@radius: 0.3em) {
	-webkit-border-bottom-right-radius: @radius;
	-moz-border-radius-bottomright: @radius;
	border-bottom-right-radius: @radius;
}

.rounded-corners (@radius: 0.3em) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow(@style, @c) when (iscolor(@c)) {
  box-shadow:         @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.opacity (@num){
@perc: @num *100;
-moz-opacity: @num;
opacity: @num;
-ms-filter:~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{perc})";
}

.no-selectable() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.button-set() {
	display: inline-block;
	padding: 0pt 0.8em;
	margin:0;
	margin-left: -1px;
	border: 1px solid lighten(@nav-border,10%);
	//border-width: 1px 1px 1px 0; // we want to have thiner borders between links
	background-color: @nav-bg;
	font-family: @general-fonts;
	color: @nav-text;
	text-decoration: none;
	line-height: 150%;
	font-size: 100%;

	.rounded-corners();
	&:hover{
	    background-color: @nav-bg-hover;
	    color: @nav-text-hover;
	    border-color:  @nav-border-hover
	}
	&.inactive {
	    .opacity(@nav-inactive-opacity);
	    background-color: @nav-bg;
	    color: @nav-text;
	    cursor:default;
	}
}


.filetype-icon (@name, @offset:2.2em 50%){

    /* IE HACKS */
    background: url('../images/33/@{name}.png') no-repeat @offset;
    /* OTHER BROSERS */
    // note the rgba - IE doesn't know it and ignores second parameter...
    background: rgba(0,0,0,0) url('../images/@{name}.svg')  no-repeat @offset;
    background-size: contain;
    /* IE HACKS */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/@{name}.png',sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/@{name}.png', sizingMethod='scale');
}