html {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  font-size: 90%;
  line-height: 1.6;
  color: #333;
  background: #aaa;
  font-family: 'Dejavu sans', arial, 'Liberation Sans', Freesans, sans-serif;
  height: 100%;
}
input[type=submit] {
  font-size: 90%;
  line-height: 1.6;
  color: #333;
  font-family: 'Dejavu sans', arial, 'Liberation Sans', Freesans, sans-serif;
  cursor: pointer;
}
i {
  font-style: italic;
}
.cleaner {
  clear: both;
}
h1 {
  color: #3484D2;
  font-size: 200%;
  font-weight: bold;
  display: inline;
}
h2.subtitle {
  font-size: 150%;
  padding-left: 2em;
  margin-bottom: 0em;
  margin-left: 0.5em;
  margin-top: 0.2em;
}
h2.subtitle.css {
  background: url('../images/33/file-text-css.png') no-repeat center left;
  background: rgba(0,0,0,0) url('../images/file-text-css.svg') no-repeat center left;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-css.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-css.png',sizingMethod='scale');
}
h2.subtitle.js {
  background: url('../images/33/file-text-js.png') no-repeat center left;
  background: rgba(0,0,0,0) url('../images/file-text-js.svg') no-repeat center left;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-js.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-js.png',sizingMethod='scale');
}
h2.subtitle.ini {
  background: url('../images/33/file-text-ini.png') no-repeat center left;
  background: rgba(0,0,0,0) url('../images/file-text-ini.svg') no-repeat center left;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-ini.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-ini.png',sizingMethod='scale');
}
h2.subtitle.xml {
  background: url('../images/33/file-text-xml.png') no-repeat center left;
  background: rgba(0,0,0,0) url('../images/file-text-xml.svg') no-repeat center left;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-xml.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-xml.png',sizingMethod='scale');
}
h2.subtitle.php {
  background: url('../images/33/file-text-php.png') no-repeat center left;
  background: rgba(0,0,0,0) url('../images/file-text-php.svg') no-repeat center left;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-php.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-php.png',sizingMethod='scale');
}
h2.subtitle.html {
  background: url('../images/33/file-text-html.png') no-repeat center left;
  background: rgba(0,0,0,0) url('../images/file-text-html.svg') no-repeat center left;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-html.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-text-html.png',sizingMethod='scale');
}
h2.subtitle.settings {
  background: url('../images/33/settings.png') no-repeat center left;
  background: rgba(0,0,0,0) url('../images/settings.svg') no-repeat center left;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/settings.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/settings.png',sizingMethod='scale');
}
h2.subtitle.image {
  background: url('../images/33/file-image.png') no-repeat center left;
  background: rgba(0,0,0,0) url('../images/file-image.svg') no-repeat center left;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-image.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/file-image.png',sizingMethod='scale');
}
.button {
  display: inline-block;
  padding: 0pt 0.8em;
  margin: 0;
  margin-left: -1px;
  border: 1px solid #c4c4c4;
  background-color: #fcfcfc;
  font-family: 'Dejavu sans', arial, 'Liberation Sans', Freesans, sans-serif;
  color: #666;
  text-decoration: none;
  line-height: 150%;
  font-size: 100%;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
}
.button:hover {
  background-color: #eee;
  color: #000;
  border-color: #aaa;
}
.button.inactive {
  -moz-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5);
  background-color: #fcfcfc;
  color: #666;
  cursor: default;
}
.nowrap {
  white-space: nowrap;
}
.error-path {
  font-size: 90%;
  color: #666666;
}
#outer-box {
  background-color: #f7f7f7;
  width: 100%;
  position: relative;
  box-shadow: 0 0 5pt rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 5pt rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 5pt rgba(0,0,0,0.3);
}
@media only screen and (min-width: 700.5pt) {
  #outer-box {
    margin: 0 auto;
    border: 0px solid #aaa;
    border-width: 0 1px 1px 1px;
    width: 700pt;
  }
}
#outer-box header {
  position: relative;
}
#outer-box .options {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 10pt;
  text-align: right;
}
#outer-box .options ul {
  list-style: none;
}
#footer {
  border-top: 1px solid #c4c4c4;
  text-align: center;
  line-height: 200%;
  color: #ababab;
  font-size: 80%;
  background-color: #dedede;
}
#header {
  border-bottom: 1px solid #aaa;
  background-color: white;
  height: 5em;
}
#inner-box {
  padding: 8pt;
  display: table;
  table-layout: fixed;
  height: 100%;
}
#outer-content {
  display: table-cell;
  width: 100%;
  height: 100%;
}
#sidebar {
  display: table-cell;
  overflow: hidden;
  height: 100%;
}
#sidebar .border {
  padding-right: 2em;
  position: relative;
  height: 100%;
}
#sidebar h3 {
  font-size: 100%;
  color: #808080;
  font-weight: normal;
}
#sidebar ul {
  padding: 0 0 1em 0;
}
#sidebar li {
  list-style: none;
}
#sidebar a,
#sidebar input[type=submit] {
  display: block;
  width: 100%;
  padding: 0.3em 0.4em;
  color: #333;
  text-decoration: none;
  text-align: left;
  font-size: 110%;
  line-height: 100%;
  border: 0;
  background-color: inherit;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
}
@media only screen and (max-width: 40em) {
  #sidebar a,
  #sidebar input[type=submit] {
    line-height: 150%;
  }
}
#sidebar a:hover,
#sidebar input[type=submit]:hover {
  background-color: #BA3E23;
  color: #f7f7f7;
}
#sidebar a.disabled,
#sidebar input[type=submit].disabled {
  color: #b3b3b3;
  cursor: default;
}
#sidebar a.disabled:hover,
#sidebar input[type=submit].disabled:hover {
  background-color: inherit;
  color: #b3b3b3;
}
#sidebar-control {
  width: 1.7em;
  height: 100%;
  cursor: pointer;
  position: absolute;
  right: 0;
  background-image: url(../images/resize-horiz-2.svg);
  background-size: contain;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  -moz-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.6);
}
#sidebar-control:hover {
  background-color: #fcfcfc;
}
#snippet--sidebar {
  height: 100%;
  display: block;
}
.sidebar-content-width {
  width: 6.3em;
}
#sidebar-content {
  position: relative;
  overflow: hidden;
  width: 0;
}
@media only screen and (min-width: 48em) {
  #sidebar-content {
    width: 6.3em;
  }
}
#ajax-spinner {
  position: absolute;
  top: 0;
  width: 90%;
  height: 90%;
  margin: 15px 0 0 15px;
  padding: 13px;
  background: url('../images/spinner.gif') no-repeat 50% 50%;
  font-size: 0;
  z-index: 123456;
  display: none;
}
div.flash {
  color: black;
  background: #D9FFD7;
  border: 1px solid #A8E222;
  padding: 1em;
  margin: 1em 0;
}
div.warning {
  background: #FFF9D7;
  border: 1px solid #E2C822;
}
div.error {
  background-color: #FFD7D7;
  border: 1px solid #FAA;
}
a[href^="error:"] {
  background: red;
  color: white;
}
form tr,
form td {
  vertical-align: top;
  font-weight: normal;
}
form .required label {
  font-weight: bold;
}
form .error {
  color: #D00;
  font-weight: bold;
}
#data {
  min-height: 20em;
  height: 100%;
}
.js #data {
  min-height: inherit;
  height: 20em;
  overflow-y: scroll;
}
