h2 {
  background: url('../images/33/settings.png') no-repeat left center;
  background: rgba(0,0,0,0) url('../images/settings.svg') no-repeat left center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/settings.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/settings.png',sizingMethod='scale');
}
#settings {
  width: 100%;
}
#settings .warning {
  background: url('../images/33/warning.png') no-repeat left center;
  background: rgba(0,0,0,0) url('../images/warning.svg') no-repeat left center;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/warning.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/warning.png',sizingMethod='scale');
}
#settings .buttons {
  margin-bottom: 0.5em;
}
#settings .back {
  background: url('../images/33/up.png') no-repeat 0.3em 50%;
  background: rgba(0,0,0,0) url('../images/up.svg') no-repeat 0.3em 50%;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/up.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/up.png',sizingMethod='scale');
  padding-left: 2em;
}
#settings .content {
  font-size: 90%;
  background-color: #eeeeee;
  border: 1px solid #aaa;
  padding: 1em;
  min-height: 2em;
}
#settings .content th {
  text-align: left;
}
#settings .content h3 {
  font-size: 120%;
  font-weight: bold;
}
#settings .content h4 {
  font-weight: bold;
}
#settings .content .dir-name {
  font-style: italic;
}
#settings .content .submit td {
  padding-bottom: 2em;
}
#settings .content .views-allowed {
  text-align: center;
  width: 5em;
}
#settings small {
  font-size: 80%;
}
#settings small b {
  font-weight: bold;
}
#settings small i {
  font-style: italic;
}
