@import "./params.less";

#settings{
    width:100%;
    h2{
	font-size: 150%;
	padding-left: 2em;
	margin-bottom: 1em;
	.filetype-icon('settings',left center);
    }

    .warning {
	.filetype-icon('warning',left center);
    }

    
    .buttons{
	margin-bottom: 0.5em;
    }

	.back{
	    .filetype-icon('up', 0.3em 50%);
	    padding-left: 2em;
	}
	

    .content
    {

	font-size: 90%;
	background-color: lighten(@color-medium,5%);
	border: 1px solid  @color-innerBorder;
	padding:1em;
	min-height: 2em;

	
    }

    small {
	font-size: 80%;
	b{font-weight: bold;}
	i{font-style: italic;}
    }

}