@import "./params.less";

@import "./highlighter.css";


#text-view{
    width:100%;
    h2{
	font-size: 150%;
    }
    .buttons{
	margin-bottom: 5pt;
    }
    .content
    {
	background-color: lighten(@color-medium,5%);
	border: 1px solid  @color-innerBorder;
	padding:0;
	margin: 0;
	counter-reset: listing; 
	word-wrap: break-word;
	white-space: pre-wrap;
	overflow: hidden;

	//width: 100%;
	min-height: 300pt;
	display: block;

	code {
	    display: block;
	    background-color: lighten(@color-medium,15%);
	    margin-left: 33pt;
	}

	i:before { content: attr(data-line)". "; color: #777; padding-left: 3pt; }
	 i { float: left; clear: both; min-width: 33pt; }
	
    }

}