@import "./params.less";

@import "./highlighter.css";


#text-view{
    width:100%;
    h2{
	font-size: 150%;
	padding-left: 30pt;
	margin-bottom: 10pt;
	&.css{
	    .filetype-icon ('file-text-css', @offset:center left)
	}
	&.js{
	    //padding-left: 55pt;
	    .filetype-icon('file-text-js', @offset:center left);
	}
	&.ini{
	    //padding-left: 55pt;
	    .filetype-icon('file-text-ini', @offset:center left);
	}
	&.xml{
	    //padding-left: 55pt;
	    .filetype-icon('file-text-xml', @offset:center left);
	}
	&.php{
	    //padding-left: 55pt;
	    .filetype-icon('file-text-php', @offset:center left);
	}
	&.html{
	    //padding-left: 55pt;
	    .filetype-icon('file-text-html', @offset:center left);
	}
    }
    form {
	display: inline-block;
	float: right;
	select {
	    .button();
	}
    }
    .buttons{
	margin-bottom: 5pt;
    }
    .content
    {

	font-size: 90%;
	background-color: lighten(@color-medium,5%);
	border: 1px solid  @color-innerBorder;
	padding:0;
	margin: 0;
	counter-reset: listing; 
	word-wrap: break-word;
	white-space: pre-wrap;
	overflow: hidden;

	//width: 100%;
	min-height: 10pt;
	display: block;

	code {
	    display: block;
	    background-color: lighten(@color-medium,15%);
	    margin-left: 33pt;
	}

	i:before { content: attr(data-line)". "; color: #777; padding-left: 3pt; }
	 i { float: left; clear: both; min-width: 33pt; }

	.highlighted{ 
	    display: block;
	    background-color: #BBEDED;
	    code{
		background-color: #BBEDED;
	    }
	    i:before { font-weight: bold;}
	}

	code:hover{
	    background-color: #EAEBBA ;
	}

	
    }

    small {
	font-size: 80%;
	b{font-weight: bold;}
	i{font-style: italic;}
    }

}