@import "./highlighter.css";
#text-view {
  width: 100%;
}
#text-view form {
  display: inline-block;
  float: right;
}
#text-view .buttons {
  margin-bottom: 0.5em;
}
#text-view .back {
  background: url('../images/33/up.png') no-repeat 0.3em 50%;
  background: rgba(0,0,0,0) url('../images/up.svg') no-repeat 0.3em 50%;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/up.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/up.png',sizingMethod='scale');
  padding-left: 2em;
}
#text-view .raw {
  background: url('../images/33/icon-save.png') no-repeat 0.3em 50%;
  background: rgba(0,0,0,0) url('../images/icon-save.svg') no-repeat 0.3em 50%;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/icon-save.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/33/icon-save.png',sizingMethod='scale');
  padding-left: 2em;
}
#text-view .content {
  font-size: 90%;
  background-color: #eeeeee;
  border: 1px solid #aaa;
  padding: 0;
  margin: 0;
  counter-reset: listing;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  min-height: 10pt;
  display: block;
}
#text-view .content code {
  display: block;
  background-color: #ffffff;
  margin-left: 33pt;
}
#text-view .content i:before {
  content: attr(data-line) ". ";
  color: #777;
  padding-left: 3pt;
}
#text-view .content i {
  float: left;
  clear: both;
  min-width: 33pt;
}
#text-view .content .highlighted {
  display: block;
  background-color: #BBEDED;
}
#text-view .content .highlighted code {
  background-color: #BBEDED;
}
#text-view .content .highlighted i:before {
  font-weight: bold;
}
#text-view .content code:hover {
  background-color: #EAEBBA;
}
#text-view small {
  font-size: 80%;
}
#text-view small b {
  font-weight: bold;
}
#text-view small i {
  font-style: italic;
}
