{** 
 * @param array $path	list of directories from root to the actual folder/file
 *}
{block #navigation}
<div id="navigation">
    Path: 
	<ol>
	    {foreach $path as $uri => $item}
		
		<li><a n:href="default, path => $uri " class="button {last}inactive{/last}" {last}title="You are here"{/last}>
			{if $iterator->first}
			    /
			{else}
			    {$item}
			{/if}
		    </a>
	    {/foreach}
	</ol>
    </div>
{/block}