<div style="display:none">
    <div id="dialog-message-zip-preparing" title="Preparing download">
      <p>
	Please wait, your download is preparing...
      </p>
    </div>

    <div id="dialog-message-zip" title="Download">
      <p>
	Your download is ready. If your browser will not redirect you in few seconds, use <a id="dialog-message-zip-download-link" href="">this link</a>.
      </p>
    </div>
</div>